<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ data().position }} </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- 対策なし -->
    <!-- <div style="display: flex; flex-wrap: wrap">
      @for (data of detailData; track data.position) {
      <div style="border: 1px solid #e0e0e0">
        {{ data.position }}
      </div>
      }
    </div> -->

    <!-- viewport に入ったら描画 -->
    @if (visible()) {
    <div style="display: flex; flex-wrap: wrap">
      @for (data of detailData; track data.position) {
      <div style="border: 1px solid #e0e0e0">
        {{ data.position }}
      </div>
      }
    </div>
    } @else {
    <div style="display: grid; height: 500px; width: 100%; place-items: center">
      <mat-spinner [diameter]="100"></mat-spinner>
    </div>
    }
  </mat-expansion-panel>
</mat-accordion>
